<?xml version="1.0"?>
<robot name="holonomic_bot_sim" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="laser_visual" default="false"/>
  <xacro:arg name="imu_visual"   default="false"/>
  <xacro:arg name="imu_visual"    default="false"/>
  <xacro:arg name="lidar_visual"    default="false"/>

  <gazebo reference="base_link">
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="imu_link">
    <sensor type="imu" name="imu">
      <always_on>true</always_on>
      <update_rate>50</update_rate>
      <visualize>$(arg imu_visual)</visualize>
    </sensor>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

	<gazebo>
		<plugin name="holonomic_controller" filename="libgazebo_ros_force_based_move.so">			
			<commandTopic>cmd_vel</commandTopic>
			<odometryTopic>odom</odometryTopic>
      <odometrySource>world</odometrySource>
			<odometryFrame>odom</odometryFrame>
			<odometryRate>20.0</odometryRate>
 			<robotBaseFrame>base_footprint</robotBaseFrame>
			<yaw_velocity_p_gain>100.0</yaw_velocity_p_gain>
			<x_velocity_p_gain>10000.0</x_velocity_p_gain>
			<y_velocity_p_gain>10000.0</y_velocity_p_gain>
      <publishOdomTF>1</publishOdomTF>
		</plugin>
	</gazebo>

  <gazebo>
    <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <bodyName>imu_link</bodyName>
      <topicName>/imu</topicName>
      <serviceName>/imu_service</serviceName>
      <gaussianNoise>0.0</gaussianNoise>
      <updateRate>100.0</updateRate>
      <imu>
        <noise>
          <type>gaussian</type>
          <rate>
            <mean>0.0</mean>
            <stddev>2e-4</stddev>
            <bias_mean>0.0000075</bias_mean>
            <bias_stddev>0.0000008</bias_stddev>
          </rate>
          <accel>
            <mean>0.0</mean>
            <stddev>1.7e-2</stddev>
            <bias_mean>0.1</bias_mean>
            <bias_stddev>0.001</bias_stddev>
          </accel>
        </noise>
      </imu>
    </plugin>
  </gazebo>

  <gazebo reference="lidar_link">
    <material>Gazebo/FlatBlack</material>
    <sensor type="ray" name="lds_lfcd_sensor">
      <pose>0 0 0 0 0 1.57079631</pose>
      <visualize>$(arg lidar_visual)</visualize>
      <update_rate>1500</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>270</samples>
            <resolution>1</resolution>
            <min_angle>-2.1</min_angle>
            <max_angle>2.1</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.05</min>
          <max>10.0</max>
          <resolution>0.009</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_lds_lfcd_controller" filename="libgazebo_ros_laser.so">
        <topicName>/scan</topicName>
        <frameName>lidar_link</frameName>
      </plugin>
    </sensor>
  </gazebo>

</robot>